.bannerImage {
    
    max-width:100%;
    min-height:350px;
    background-image: url('../../assets/hexagonTile.png');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.centerText {
    text-align: center;
}

p {
    /*font-size: 1.5em;*/
    text-align: left;
}
